.con-main {
    width: 344px;
    height: 112px;
    display: flex;
    background-color: #005249;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.3s ease-in ;
}
.con-main:hover,.con-main1:hover{
    transform: translateY(-20px);
}
.con-main1 {
    width: 344px;
    height: 112px;
    display: flex;
    background-color: #443c06;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: 0.3s ease-in ;
}

.con-right img {
    position: relative;
    width: 65.33px;
    height: 84px;
    left: 22.33px;
    top: 5px;
    opacity: 0.5;
}

.con-mid {
    color: azure;
}
.paral{
    color: aliceblue;
    font-size: 15px;
}