.widgetLg {
    flex: 2;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-top: 37px;
    width: 712px;
    height: 575px;
    margin-left: 25px;
    cursor: pointer;
    transition: 0.3s ease-in ;
}
.widgetLg:hover{
    transform: translateY(-20px);
}

.widgetLgTitle {
    font-size: 22px;
    font-weight: 600;
}

.widgetLgTable {
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh {
    text-align: left;
}

.widgetLgTr {
    width: 712px;
    height: 60px;
}

.widgetLgUser {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.widgetLgDate,
.widgetLgAmount {
    font-weight: 300;
}

.widgetLgButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}

.widgetLgButton.Paid {
    background-color: #e5faf2;
    color: #3bb077;
    letter-spacing: 3px;
}

.widgetLgButton.OutOfDate {
    background-color: #fff0f1;
    color: #d95087;
    letter-spacing: 3px;
}

.widgetLgButton.InProgress {
    background-color: #fbfdd7;
    color: #f1db1b;
    letter-spacing: 3px;
}