.featured {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.featuredItem {
    flex: 1;
    display: flex;
    margin: 10px 53px 10px 0px;
    line-height: 45px;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 9px 10px 19px 1px rgba(0,0,0,0.3); 
    box-shadow: 9px 10px 19px 1px rgba(0,0,0,0.3);
    transition: 0.3s ease-in ;
}

.featuredItem:hover{
    transform: translateY(-20px);
}

.featuredItem .featuredRight{
    justify-content: center;
    align-items: center;
}

.color{
    color:aqua;
    border: 1px solid black;
}

.featuredMoney{
    font-weight: 700;  
}

.featuredSub{
    font-weight: 800;
    font-size: large;
}