.hero{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.heroWrapper{
    display: flex;
    padding: 30px;
    width: 60%;
    background-color: #C8FACD;
    border-radius: 10px;
    transition: 0.3s ease-in ;
}
.heroSideContainer{
    transition: 0.3s ease-in ;

}

.heroWrapper:hover,.heroSideContainer:hover{
    transform: translateY(-20px);
}

.btn{
    background-color: #00AB55;
    color: #FFF;
    border-radius: 7px;
    padding: 5px;
    border: none;
}
