.sidebar{
    flex:1;
    height: 2080px!important;
    width: 280px;
    background-color: #fff;
    border-right: 1px solid grey;
    position: sticky;
    
}

.user{
    display: flex;
    background-color: #F4F6F8;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.userIcon{
    padding:10px;
   
}

.subtitle{
    color:grey;
}

.sidebarWrapper{
    padding: 20px;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: grey;
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding:5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.topLeft {
    position: sticky;
    top:0;
    z-index: 999;
    background-color: #fff;
}

.topLeft .logo img{
    padding: 10px;
    margin-top: -10px
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(197, 244, 234);
    border-right: 4px solid #007B55;
    color: #007B55;
}

.sidebarBottom{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
    position: absolute;
width: 200px;
height: 310px;
left: calc(50% - 200px/2);
bottom: 40px;

border-radius: 20px;
}

